In [1]:
import pandas as pd

In [9]:
df = pd.DataFrame([['Anna', 23, 3],
             ['Sam', 36, 12],
             ['Bill', 33, 10],
             ['Monica', 25, 7],
             ['Lisa', 27, 7],
             ['Peter', 32, None]])
df.columns = ['name', 'age', 'expr']
df.index = df['name']

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
0    6 non-null object
1    6 non-null int64
2    5 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 224.0+ bytes

In [4]:
df.shape

(6, 3)

In [5]:
df.shape[0]

6

In [6]:
df.shape[1]

3

In [10]:
df.describe()

             age       expr
count   6.000000   5.000000
mean   29.333333   7.800000
std     5.085928   3.420526
min    23.000000   3.000000
25%    25.500000   7.000000
50%    29.500000   7.000000
75%    32.750000  10.000000
max    36.000000  12.000000

In [11]:
df.columns

Index(['name', 'age', 'expr'], dtype='object')

In [12]:
df.columns[2] = 'experience'

TypeError: Index does not support mutable operations

In [14]:
list(df.columns)

['name', 'age', 'expr']

In [15]:
df.index

Index(['Anna', 'Sam', 'Bill', 'Monica', 'Lisa', 'Peter'], dtype='object', name='name')