In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame([['2019-03-11', 'en', 3],
                  ['2019-03-11', 'fr', 5],
                  ['2019-03-12', 'en', 6],
                  ['2019-03-13', 'fr', 1],
                  ['2019-03-13', 'en', 2],
                  ['2019-03-16', 'fr', 4],
                  ['2019-03-17', 'en', 3]],
                  columns = ['date', 'lang', 'n'])

In [6]:
df

         date lang  n
0  2019-03-11   en  3
1  2019-03-11   fr  5
2  2019-03-12   en  6
3  2019-03-13   fr  1
4  2019-03-13   en  2
5  2019-03-16   fr  4
6  2019-03-17   en  3

In [7]:
df.set_index(['date','lang'], inplace=True)

In [8]:
df

                 n
date       lang
2019-03-11 en    3
           fr    5
2019-03-12 en    6
2019-03-13 fr    1
           en    2
2019-03-16 fr    4
2019-03-17 en    3

In [9]:
df.index

MultiIndex(levels=[['2019-03-11', '2019-03-12', '2019-03-13', '2019-03-16', '2019-03-17'], ['en', 'fr']],
           codes=[[0, 0, 1, 2, 2, 3, 4], [0, 1, 0, 1, 0, 1, 0]],
           names=['date', 'lang'])

In [10]:
df.sort_index()

                 n
date       lang
2019-03-11 en    3
           fr    5
2019-03-12 en    6
2019-03-13 en    2
           fr    1
2019-03-16 fr    4
2019-03-17 en    3

In [12]:
df.loc['2019-03-13']

      n
lang
fr    1
en    2

In [13]:
df.loc['2019-03-13','fr']

n    1
Name: (2019-03-13, fr), dtype: int64