### Урок 6.4. Работа с NaN-ами

In [1]:
import pandas as pd
import numpy as np 
df = pd.read_csv("WeightLoss.csv")
df['total'] = df['w1'] + df['w2'] + df['w3']
df['total_gr'] = df['total'] * 1000

Вызывая сводную информацию по таблице через `.info()`, мы видели, что в датасете присутствуют пропущенные значения (`NaN` от *Not a Number*):

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 10 columns):
id          34 non-null int64
group       34 non-null object
w1          34 non-null int64
w2          34 non-null int64
w3          33 non-null float64
se1         33 non-null float64
se2         33 non-null float64
se3         32 non-null float64
total       33 non-null float64
total_gr    33 non-null float64
dtypes: float64(6), int64(3), object(1)
memory usage: 2.7+ KB

Конечно, считать количество незаполненных ячеек по каждому столбцу самостоятельно, неудобно. Давайте посчитаем это автоматически:

In [4]:
df.isnull().sum()

id          0
group       0
w1          0
w2          0
w3          1
se1         1
se2         1
se3         2
total       1
total_gr    1
dtype: int64

Ещё пропущенные значения можно заполнять – заменить `NaN` на 0 или любое другое значение или на среднее (медианное значение по столбцу).

In [5]:
df.fillna(0)

    id    group  w1  w2   w3   se1   se2   se3  total  total_gr
0    1  Control   4   3  3.0  14.0  13.0  15.0   10.0   10000.0
1    2  Control   4   4  3.0  13.0  14.0  17.0   11.0   11000.0
2    3  Control   4   3  1.0  17.0  12.0  16.0    8.0    8000.0
3    4  Control   3   2  1.0  11.0  11.0  12.0    6.0    6000.0
4    5  Control   5   3  2.0  16.0  15.0  14.0   10.0   10000.0
5    6  Control   6   5  4.0  17.0  18.0  18.0   15.0   15000.0
6    7  Control   6   5  4.0  17.0  16.0  19.0   15.0   15000.0
7    8  Control   5   4  1.0   0.0   0.0   0.0   10.0   10000.0
8    9  Control   5   4  1.0  14.0  14.0  15.0   10.0   10000.0
9   10  Control   3   3  2.0  14.0  15.0  13.0    8.0    8000.0
10  11  Control   4   2  2.0  16.0  16.0  11.0    8.0    8000.0
11  12  Control   5   2  1.0  15.0  13.0  16.0    8.0    8000.0
12  13     Diet   6   3  2.0  12.0  11.0  14.0   11.0   11000.0
13  14     Diet   5   4  1.0  13.0  14.0  15.0   10.0   10000.0
14  15     Diet   7   6  3.0  17.0  11.0  18.0   16.0   16000.0
15  16     Diet   6   4  2.0  16.0  15.0  18.0   12.0   12000.0
16  17     Diet   3   2  1.0  16.0  17.0  15.0    6.0    6000.0
17  18     Diet   5   5  4.0  13.0  11.0  18.0   14.0   14000.0
18  19     Diet   4   3  1.0  12.0  11.0  14.0    8.0    8000.0
19  20     Diet   4   2  1.0  12.0  11.0  11.0    7.0    7000.0
20  21     Diet   6   5  3.0  17.0  16.0  19.0   14.0   14000.0
21  22     Diet   7   6  4.0  19.0  19.0  19.0   17.0   17000.0
22  23     Diet   4   3  2.0  15.0  15.0  15.0    9.0    9000.0
23  24     Diet   7   4  3.0  16.0  14.0  18.0   14.0   14000.0
24  25   DietEx   7   7  4.0  15.0  11.0  19.0   18.0   18000.0
25  26   DietEx   4   7  0.0  16.0  12.0  18.0    0.0       0.0
26  27   DietEx   9   7  3.0  13.0  12.0  17.0   19.0   19000.0
27  28   DietEx   3   4  1.0  16.0  13.0   0.0    8.0    8000.0
28  29   DietEx   3   5  1.0  13.0  13.0  16.0    9.0    9000.0
29  30   DietEx   6   5  2.0  15.0  12.0  18.0   13.0   13000.0
30  31   DietEx   6   6  3.0  15.0  13.0  18.0   15.0   15000.0
31  32   DietEx   9   5  2.0  16.0  14.0  17.0   16.0   16000.0
32  33   DietEx   7   9  4.0  16.0  16.0  19.0   20.0   20000.0
33  34   DietEx   8   6  1.0  17.0  17.0  17.0   15.0   15000.0

Если данных у нас много, и при этом потеря строк с пропущенными значениями нас не смущает, такие строки можно просто удалить:

In [6]:
df = df.dropna()