In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('WeightLoss.csv')

In [4]:
df.head()

   id    group  w1  w2   w3   se1   se2   se3
0   1  Control   4   3  3.0  14.0  13.0  15.0
1   2  Control   4   4  3.0  13.0  14.0  17.0
2   3  Control   4   3  1.0  17.0  12.0  16.0
3   4  Control   3   2  1.0  11.0  11.0  12.0
4   5  Control   5   3  2.0  16.0  15.0  14.0

In [5]:
df['total'] = df['w1'] + df['w2'] + df['w3']
df['total_gr'] = df['total'] * 1000

In [6]:
df.head()

   id    group  w1  w2   w3   se1   se2   se3  total  total_gr
0   1  Control   4   3  3.0  14.0  13.0  15.0   10.0   10000.0
1   2  Control   4   4  3.0  13.0  14.0  17.0   11.0   11000.0
2   3  Control   4   3  1.0  17.0  12.0  16.0    8.0    8000.0
3   4  Control   3   2  1.0  11.0  11.0  12.0    6.0    6000.0
4   5  Control   5   3  2.0  16.0  15.0  14.0   10.0   10000.0

In [7]:
df['total_gr'].apply(np.log)

0     9.210340
1     9.305651
2     8.987197
3     8.699515
4     9.210340
5     9.615805
6     9.615805
7     9.210340
8     9.210340
9     8.987197
10    8.987197
11    8.987197
12    9.305651
13    9.210340
14    9.680344
15    9.392662
16    8.699515
17    9.546813
18    8.987197
19    8.853665
20    9.546813
21    9.740969
22    9.104980
23    9.546813
24    9.798127
25         NaN
26    9.852194
27    8.987197
28    9.104980
29    9.472705
30    9.615805
31    9.680344
32    9.903488
33    9.615805
Name: total_gr, dtype: float64

In [8]:
df['avloss'] = df.loc[:,'w1':'w3'].apply(np.mean, axis=1)

In [9]:
df

    id    group  w1  w2   w3   se1   se2   se3  total  total_gr    avloss
0    1  Control   4   3  3.0  14.0  13.0  15.0   10.0   10000.0  3.333333
1    2  Control   4   4  3.0  13.0  14.0  17.0   11.0   11000.0  3.666667
2    3  Control   4   3  1.0  17.0  12.0  16.0    8.0    8000.0  2.666667
3    4  Control   3   2  1.0  11.0  11.0  12.0    6.0    6000.0  2.000000
4    5  Control   5   3  2.0  16.0  15.0  14.0   10.0   10000.0  3.333333
5    6  Control   6   5  4.0  17.0  18.0  18.0   15.0   15000.0  5.000000
6    7  Control   6   5  4.0  17.0  16.0  19.0   15.0   15000.0  5.000000
7    8  Control   5   4  1.0   NaN   NaN   NaN   10.0   10000.0  3.333333
8    9  Control   5   4  1.0  14.0  14.0  15.0   10.0   10000.0  3.333333
9   10  Control   3   3  2.0  14.0  15.0  13.0    8.0    8000.0  2.666667
10  11  Control   4   2  2.0  16.0  16.0  11.0    8.0    8000.0  2.666667
11  12  Control   5   2  1.0  15.0  13.0  16.0    8.0    8000.0  2.666667
12  13     Diet   6   3  2.0  12.0  11.0  14.0   11.0   11000.0  3.666667
13  14     Diet   5   4  1.0  13.0  14.0  15.0   10.0   10000.0  3.333333
14  15     Diet   7   6  3.0  17.0  11.0  18.0   16.0   16000.0  5.333333
15  16     Diet   6   4  2.0  16.0  15.0  18.0   12.0   12000.0  4.000000
16  17     Diet   3   2  1.0  16.0  17.0  15.0    6.0    6000.0  2.000000
17  18     Diet   5   5  4.0  13.0  11.0  18.0   14.0   14000.0  4.666667
18  19     Diet   4   3  1.0  12.0  11.0  14.0    8.0    8000.0  2.666667
19  20     Diet   4   2  1.0  12.0  11.0  11.0    7.0    7000.0  2.333333
20  21     Diet   6   5  3.0  17.0  16.0  19.0   14.0   14000.0  4.666667
21  22     Diet   7   6  4.0  19.0  19.0  19.0   17.0   17000.0  5.666667
22  23     Diet   4   3  2.0  15.0  15.0  15.0    9.0    9000.0  3.000000
23  24     Diet   7   4  3.0  16.0  14.0  18.0   14.0   14000.0  4.666667
24  25   DietEx   7   7  4.0  15.0  11.0  19.0   18.0   18000.0  6.000000
25  26   DietEx   4   7  NaN  16.0  12.0  18.0    NaN       NaN  5.500000
26  27   DietEx   9   7  3.0  13.0  12.0  17.0   19.0   19000.0  6.333333
27  28   DietEx   3   4  1.0  16.0  13.0   NaN    8.0    8000.0  2.666667
28  29   DietEx   3   5  1.0  13.0  13.0  16.0    9.0    9000.0  3.000000
29  30   DietEx   6   5  2.0  15.0  12.0  18.0   13.0   13000.0  4.333333
30  31   DietEx   6   6  3.0  15.0  13.0  18.0   15.0   15000.0  5.000000
31  32   DietEx   9   5  2.0  16.0  14.0  17.0   16.0   16000.0  5.333333
32  33   DietEx   7   9  4.0  16.0  16.0  19.0   20.0   20000.0  6.666667
33  34   DietEx   8   6  1.0  17.0  17.0  17.0   15.0   15000.0  5.000000

In [10]:
df.loc[:,'w1':'w3'].apply(np.mean, axis=0)

w1    5.294118
w2    4.352941
w3    2.212121
dtype: float64

In [11]:
f = lambda x: x.max() - x.min()

In [12]:
df['wrange'] = df.loc[:,'w1':'w3'].apply(f, axis=1)

In [13]:
df

,id,group,w1,w2,w3,se1,se2,se3,total,total_gr,avloss,wrange
0,1,Control,4,3,3.0,14.0,13.0,15.0,10.0,10000.0,3.333333,1.0
1,2,Control,4,4,3.0,13.0,14.0,17.0,11.0,11000.0,3.666667,1.0
2,3,Control,4,3,1.0,17.0,12.0,16.0,8.0,8000.0,2.666667,3.0
3,4,Control,3,2,1.0,11.0,11.0,12.0,6.0,6000.0,2.000000,2.0
4,5,Control,5,3,2.0,16.0,15.0,14.0,10.0,10000.0,3.333333,3.0
5,6,Control,6,5,4.0,17.0,18.0,18.0,15.0,15000.0,5.000000,2.0
6,7,Control,6,5,4.0,17.0,16.0,19.0,15.0,15000.0,5.000000,2.0
7,8,Control,5,4,1.0,NaN,NaN,NaN,10.0,10000.0,3.333333,4.0
8,9,Control,5,4,1.0,14.0,14.0,15.0,10.0,10000.0,3.333333,4.0
9,10,Control,3,3,2.0,14.0,15.0,13.0,8.0,8000.0,2.666667,1.0
10,11,Control,4,2,2.0,16.0,16.0,11.0,8.0,8000.0,2.666667,2.0
11,12,Control,5,2,1.0,15.0,13.0,16.0,8.0,8000.0,2.666667,4.0
12,13,Diet,6,3,2.0,12.0,11.0,14.0,11.0,11000.0,3.666667,4.0
13,14,Diet,5,4,1.0,13.0,14.0,15.0,10.0,10000.0,3.333333,4.0
14,15,Diet,7,6,3.0,17.0,11.0,18.0,16.0,16000.0,5.333333,4.0
15,16,Diet,6,4,2.0,16.0,15.0,18.0,12.0,12000.0,4.000000,4.0
16,17,Diet,3,2,1.0,16.0,17.0,15.0,6.0,6000.0,2.000000,2.0
17,18,Diet,5,5,4.0,13.0,11.0,18.0,14.0,14000.0,4.666667,1.0
18,19,Diet,4,3,1.0,12.0,11.0,14.0,8.0,8000.0,2.666667,3.0
19,20,Diet,4,2,1.0,12.0,11.0,11.0,7.0,7000.0,2.333333,3.0
20,21,Diet,6,5,3.0,17.0,16.0,19.0,14.0,14000.0,4.666667,3.0
21,22,Diet,7,6,4.0,19.0,19.0,19.0,17.0,17000.0,5.666667,3.0
22,23,Diet,4,3,2.0,15.0,15.0,15.0,9.0,9000.0,3.000000,2.0
23,24,Diet,7,4,3.0,16.0,14.0,18.0,14.0,14000.0,4.666667,4.0
24,25,DietEx,7,7,4.0,15.0,11.0,19.0,18.0,18000.0,6.000000,3.0
25,26,DietEx,4,7,NaN,16.0,12.0,18.0,NaN,NaN,5.500000,3.0
26,27,DietEx,9,7,3.0,13.0,12.0,17.0,19.0,19000.0,6.333333,6.0
27,28,DietEx,3,4,1.0,16.0,13.0,NaN,8.0,8000.0,2.666667,3.0
28,29,DietEx,3,5,1.0,13.0,13.0,16.0,9.0,9000.0,3.000000,4.0
29,30,DietEx,6,5,2.0,15.0,12.0,18.0,13.0,13000.0,4.333333,4.0
30,31,DietEx,6,6,3.0,15.0,13.0,18.0,15.0,15000.0,5.000000,3.0
31,32,DietEx,9,5,2.0,16.0,14.0,17.0,16.0,16000.0,5.333333,7.0
32,33,DietEx,7,9,4.0,16.0,16.0,19.0,20.0,20000.0,6.666667,5.0
33,34,DietEx,8,6,1.0,17.0,17.0,17.0,15.0,15000.0,5.000000,7.0

In [14]:
df.groupby('group')

In [16]:
list(df.groupby('group'))[0]

('Control',
     id    group  w1  w2   w3   se1   se2   se3  total  total_gr    avloss  \
 0    1  Control   4   3  3.0  14.0  13.0  15.0   10.0   10000.0  3.333333
 1    2  Control   4   4  3.0  13.0  14.0  17.0   11.0   11000.0  3.666667
 2    3  Control   4   3  1.0  17.0  12.0  16.0    8.0    8000.0  2.666667
 3    4  Control   3   2  1.0  11.0  11.0  12.0    6.0    6000.0  2.000000
 4    5  Control   5   3  2.0  16.0  15.0  14.0   10.0   10000.0  3.333333
 5    6  Control   6   5  4.0  17.0  18.0  18.0   15.0   15000.0  5.000000
 6    7  Control   6   5  4.0  17.0  16.0  19.0   15.0   15000.0  5.000000
 7    8  Control   5   4  1.0   NaN   NaN   NaN   10.0   10000.0  3.333333
 8    9  Control   5   4  1.0  14.0  14.0  15.0   10.0   10000.0  3.333333
 9   10  Control   3   3  2.0  14.0  15.0  13.0    8.0    8000.0  2.666667
 10  11  Control   4   2  2.0  16.0  16.0  11.0    8.0    8000.0  2.666667
 11  12  Control   5   2  1.0  15.0  13.0  16.0    8.0    8000.0  2.666667

     wrange
 0      1.0
 1      1.0
 2      3.0
 3      2.0
 4      3.0
 5      2.0
 6      2.0
 7      4.0
 8      4.0
 9      1.0
 10     2.0
 11     4.0  )

In [18]:
df.groupby('group').agg('mean')

,id,w1,w2,w3,se1,se2,se3,total,total_gr,avloss,wrange
group,,,,,,,,,,,
Control,6.5,4.500000,3.333333,2.083333,14.909091,14.272727,15.090909,9.916667,9916.666667,3.305556,2.416667
Diet,18.5,5.333333,3.916667,2.250000,14.833333,13.750000,16.166667,11.500000,11500.000000,3.833333,3.083333
DietEx,29.5,6.200000,6.100000,2.333333,15.200000,13.300000,17.666667,14.777778,14777.777778,4.983333,4.500000

In [20]:
df.groupby('group').agg(['min', 'max', 'mean'])

         id            w1                w2                 w3  ...  \
        min max  mean min max      mean min max      mean  min  ...
group                                                           ...
Control   1  12   6.5   3   6  4.500000   2   5  3.333333  1.0  ...
Diet     13  24  18.5   3   7  5.333333   2   6  3.916667  1.0  ...
DietEx   25  34  29.5   3   9  6.200000   4   9  6.100000  1.0  ...

             total total_gr                           avloss            \
              mean      min      max          mean       min       max
group
Control   9.916667   6000.0  15000.0   9916.666667  2.000000  5.000000
Diet     11.500000   6000.0  17000.0  11500.000000  2.000000  5.666667
DietEx   14.777778   8000.0  20000.0  14777.777778  2.666667  6.666667

                  wrange
             mean    min  max      mean
group
Control  3.305556    1.0  4.0  2.416667
Diet     3.833333    1.0  4.0  3.083333
DietEx   4.983333    3.0  7.0  4.500000

[3 rows x 33 columns]

In [21]:
df.sort_values('total') #inplace=True

,id,group,w1,w2,w3,se1,se2,se3,total,total_gr,avloss,wrange
16,17,Diet,3,2,1.0,16.0,17.0,15.0,6.0,6000.0,2.000000,2.0
3,4,Control,3,2,1.0,11.0,11.0,12.0,6.0,6000.0,2.000000,2.0
19,20,Diet,4,2,1.0,12.0,11.0,11.0,7.0,7000.0,2.333333,3.0
2,3,Control,4,3,1.0,17.0,12.0,16.0,8.0,8000.0,2.666667,3.0
27,28,DietEx,3,4,1.0,16.0,13.0,NaN,8.0,8000.0,2.666667,3.0
18,19,Diet,4,3,1.0,12.0,11.0,14.0,8.0,8000.0,2.666667,3.0
9,10,Control,3,3,2.0,14.0,15.0,13.0,8.0,8000.0,2.666667,1.0
10,11,Control,4,2,2.0,16.0,16.0,11.0,8.0,8000.0,2.666667,2.0
11,12,Control,5,2,1.0,15.0,13.0,16.0,8.0,8000.0,2.666667,4.0
28,29,DietEx,3,5,1.0,13.0,13.0,16.0,9.0,9000.0,3.000000,4.0
22,23,Diet,4,3,2.0,15.0,15.0,15.0,9.0,9000.0,3.000000,2.0
13,14,Diet,5,4,1.0,13.0,14.0,15.0,10.0,10000.0,3.333333,4.0
0,1,Control,4,3,3.0,14.0,13.0,15.0,10.0,10000.0,3.333333,1.0
8,9,Control,5,4,1.0,14.0,14.0,15.0,10.0,10000.0,3.333333,4.0
7,8,Control,5,4,1.0,NaN,NaN,NaN,10.0,10000.0,3.333333,4.0
4,5,Control,5,3,2.0,16.0,15.0,14.0,10.0,10000.0,3.333333,3.0
1,2,Control,4,4,3.0,13.0,14.0,17.0,11.0,11000.0,3.666667,1.0
12,13,Diet,6,3,2.0,12.0,11.0,14.0,11.0,11000.0,3.666667,4.0
15,16,Diet,6,4,2.0,16.0,15.0,18.0,12.0,12000.0,4.000000,4.0
29,30,DietEx,6,5,2.0,15.0,12.0,18.0,13.0,13000.0,4.333333,4.0
17,18,Diet,5,5,4.0,13.0,11.0,18.0,14.0,14000.0,4.666667,1.0
20,21,Diet,6,5,3.0,17.0,16.0,19.0,14.0,14000.0,4.666667,3.0
23,24,Diet,7,4,3.0,16.0,14.0,18.0,14.0,14000.0,4.666667,4.0
30,31,DietEx,6,6,3.0,15.0,13.0,18.0,15.0,15000.0,5.000000,3.0
5,6,Control,6,5,4.0,17.0,18.0,18.0,15.0,15000.0,5.000000,2.0
6,7,Control,6,5,4.0,17.0,16.0,19.0,15.0,15000.0,5.000000,2.0
33,34,DietEx,8,6,1.0,17.0,17.0,17.0,15.0,15000.0,5.000000,7.0
14,15,Diet,7,6,3.0,17.0,11.0,18.0,16.0,16000.0,5.333333,4.0
31,32,DietEx,9,5,2.0,16.0,14.0,17.0,16.0,16000.0,5.333333,7.0
21,22,Diet,7,6,4.0,19.0,19.0,19.0,17.0,17000.0,5.666667,3.0
24,25,DietEx,7,7,4.0,15.0,11.0,19.0,18.0,18000.0,6.000000,3.0
26,27,DietEx,9,7,3.0,13.0,12.0,17.0,19.0,19000.0,6.333333,6.0
32,33,DietEx,7,9,4.0,16.0,16.0,19.0,20.0,20000.0,6.666667,5.0
25,26,DietEx,4,7,NaN,16.0,12.0,18.0,NaN,NaN,5.500000,3.0

In [22]:
df.head()

,id,group,w1,w2,w3,se1,se2,se3,total,total_gr,avloss,wrange
0,1,Control,4,3,3.0,14.0,13.0,15.0,10.0,10000.0,3.333333,1.0
1,2,Control,4,4,3.0,13.0,14.0,17.0,11.0,11000.0,3.666667,1.0
2,3,Control,4,3,1.0,17.0,12.0,16.0,8.0,8000.0,2.666667,3.0
3,4,Control,3,2,1.0,11.0,11.0,12.0,6.0,6000.0,2.000000,2.0
4,5,Control,5,3,2.0,16.0,15.0,14.0,10.0,10000.0,3.333333,3.0

In [24]:
df.sort_values(['total', 'se3'], ascending=False)

,id,group,w1,w2,w3,se1,se2,se3,total,total_gr,avloss,wrange
32,33,DietEx,7,9,4.0,16.0,16.0,19.0,20.0,20000.0,6.666667,5.0
26,27,DietEx,9,7,3.0,13.0,12.0,17.0,19.0,19000.0,6.333333,6.0
24,25,DietEx,7,7,4.0,15.0,11.0,19.0,18.0,18000.0,6.000000,3.0
21,22,Diet,7,6,4.0,19.0,19.0,19.0,17.0,17000.0,5.666667,3.0
14,15,Diet,7,6,3.0,17.0,11.0,18.0,16.0,16000.0,5.333333,4.0
31,32,DietEx,9,5,2.0,16.0,14.0,17.0,16.0,16000.0,5.333333,7.0
6,7,Control,6,5,4.0,17.0,16.0,19.0,15.0,15000.0,5.000000,2.0
5,6,Control,6,5,4.0,17.0,18.0,18.0,15.0,15000.0,5.000000,2.0
30,31,DietEx,6,6,3.0,15.0,13.0,18.0,15.0,15000.0,5.000000,3.0
33,34,DietEx,8,6,1.0,17.0,17.0,17.0,15.0,15000.0,5.000000,7.0
20,21,Diet,6,5,3.0,17.0,16.0,19.0,14.0,14000.0,4.666667,3.0
17,18,Diet,5,5,4.0,13.0,11.0,18.0,14.0,14000.0,4.666667,1.0
23,24,Diet,7,4,3.0,16.0,14.0,18.0,14.0,14000.0,4.666667,4.0
29,30,DietEx,6,5,2.0,15.0,12.0,18.0,13.0,13000.0,4.333333,4.0
15,16,Diet,6,4,2.0,16.0,15.0,18.0,12.0,12000.0,4.000000,4.0
1,2,Control,4,4,3.0,13.0,14.0,17.0,11.0,11000.0,3.666667,1.0
12,13,Diet,6,3,2.0,12.0,11.0,14.0,11.0,11000.0,3.666667,4.0
0,1,Control,4,3,3.0,14.0,13.0,15.0,10.0,10000.0,3.333333,1.0
8,9,Control,5,4,1.0,14.0,14.0,15.0,10.0,10000.0,3.333333,4.0
13,14,Diet,5,4,1.0,13.0,14.0,15.0,10.0,10000.0,3.333333,4.0
4,5,Control,5,3,2.0,16.0,15.0,14.0,10.0,10000.0,3.333333,3.0
7,8,Control,5,4,1.0,NaN,NaN,NaN,10.0,10000.0,3.333333,4.0
28,29,DietEx,3,5,1.0,13.0,13.0,16.0,9.0,9000.0,3.000000,4.0
22,23,Diet,4,3,2.0,15.0,15.0,15.0,9.0,9000.0,3.000000,2.0
2,3,Control,4,3,1.0,17.0,12.0,16.0,8.0,8000.0,2.666667,3.0
11,12,Control,5,2,1.0,15.0,13.0,16.0,8.0,8000.0,2.666667,4.0
18,19,Diet,4,3,1.0,12.0,11.0,14.0,8.0,8000.0,2.666667,3.0
9,10,Control,3,3,2.0,14.0,15.0,13.0,8.0,8000.0,2.666667,1.0
10,11,Control,4,2,2.0,16.0,16.0,11.0,8.0,8000.0,2.666667,2.0
27,28,DietEx,3,4,1.0,16.0,13.0,NaN,8.0,8000.0,2.666667,3.0
19,20,Diet,4,2,1.0,12.0,11.0,11.0,7.0,7000.0,2.333333,3.0
16,17,Diet,3,2,1.0,16.0,17.0,15.0,6.0,6000.0,2.000000,2.0
3,4,Control,3,2,1.0,11.0,11.0,12.0,6.0,6000.0,2.000000,2.0
25,26,DietEx,4,7,NaN,16.0,12.0,18.0,NaN,NaN,5.500000,3.0

In [26]:
df.isnull().sum()

id          0
group       0
w1          0
w2          0
w3          1
se1         1
se2         1
se3         2
total       1
total_gr    1
avloss      0
wrange      0
dtype: int64

In [27]:
df.fillna(0)

,id,group,w1,w2,w3,se1,se2,se3,total,total_gr,avloss,wrange
0,1,Control,4,3,3.0,14.0,13.0,15.0,10.0,10000.0,3.333333,1.0
1,2,Control,4,4,3.0,13.0,14.0,17.0,11.0,11000.0,3.666667,1.0
2,3,Control,4,3,1.0,17.0,12.0,16.0,8.0,8000.0,2.666667,3.0
3,4,Control,3,2,1.0,11.0,11.0,12.0,6.0,6000.0,2.000000,2.0
4,5,Control,5,3,2.0,16.0,15.0,14.0,10.0,10000.0,3.333333,3.0
5,6,Control,6,5,4.0,17.0,18.0,18.0,15.0,15000.0,5.000000,2.0
6,7,Control,6,5,4.0,17.0,16.0,19.0,15.0,15000.0,5.000000,2.0
7,8,Control,5,4,1.0,0.0,0.0,0.0,10.0,10000.0,3.333333,4.0
8,9,Control,5,4,1.0,14.0,14.0,15.0,10.0,10000.0,3.333333,4.0
9,10,Control,3,3,2.0,14.0,15.0,13.0,8.0,8000.0,2.666667,1.0
10,11,Control,4,2,2.0,16.0,16.0,11.0,8.0,8000.0,2.666667,2.0
11,12,Control,5,2,1.0,15.0,13.0,16.0,8.0,8000.0,2.666667,4.0
12,13,Diet,6,3,2.0,12.0,11.0,14.0,11.0,11000.0,3.666667,4.0
13,14,Diet,5,4,1.0,13.0,14.0,15.0,10.0,10000.0,3.333333,4.0
14,15,Diet,7,6,3.0,17.0,11.0,18.0,16.0,16000.0,5.333333,4.0
15,16,Diet,6,4,2.0,16.0,15.0,18.0,12.0,12000.0,4.000000,4.0
16,17,Diet,3,2,1.0,16.0,17.0,15.0,6.0,6000.0,2.000000,2.0
17,18,Diet,5,5,4.0,13.0,11.0,18.0,14.0,14000.0,4.666667,1.0
18,19,Diet,4,3,1.0,12.0,11.0,14.0,8.0,8000.0,2.666667,3.0
19,20,Diet,4,2,1.0,12.0,11.0,11.0,7.0,7000.0,2.333333,3.0
20,21,Diet,6,5,3.0,17.0,16.0,19.0,14.0,14000.0,4.666667,3.0
21,22,Diet,7,6,4.0,19.0,19.0,19.0,17.0,17000.0,5.666667,3.0
22,23,Diet,4,3,2.0,15.0,15.0,15.0,9.0,9000.0,3.000000,2.0
23,24,Diet,7,4,3.0,16.0,14.0,18.0,14.0,14000.0,4.666667,4.0
24,25,DietEx,7,7,4.0,15.0,11.0,19.0,18.0,18000.0,6.000000,3.0
25,26,DietEx,4,7,0.0,16.0,12.0,18.0,0.0,0.0,5.500000,3.0
26,27,DietEx,9,7,3.0,13.0,12.0,17.0,19.0,19000.0,6.333333,6.0
27,28,DietEx,3,4,1.0,16.0,13.0,0.0,8.0,8000.0,2.666667,3.0
28,29,DietEx,3,5,1.0,13.0,13.0,16.0,9.0,9000.0,3.000000,4.0
29,30,DietEx,6,5,2.0,15.0,12.0,18.0,13.0,13000.0,4.333333,4.0
30,31,DietEx,6,6,3.0,15.0,13.0,18.0,15.0,15000.0,5.000000,3.0
31,32,DietEx,9,5,2.0,16.0,14.0,17.0,16.0,16000.0,5.333333,7.0
32,33,DietEx,7,9,4.0,16.0,16.0,19.0,20.0,20000.0,6.666667,5.0
33,34,DietEx,8,6,1.0,17.0,17.0,17.0,15.0,15000.0,5.000000,7.0

In [28]:
df = df.dropna()

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 33
Data columns (total 12 columns):
id          31 non-null int64
group       31 non-null object
w1          31 non-null int64
w2          31 non-null int64
w3          31 non-null float64
se1         31 non-null float64
se2         31 non-null float64
se3         31 non-null float64
total       31 non-null float64
total_gr    31 non-null float64
avloss      31 non-null float64
wrange      31 non-null float64
dtypes: float64(8), int64(3), object(1)
memory usage: 3.1+ KB