In [10]:
import numpy as np
from pprint import pprint

In [3]:
info =np.array([('Anna', 19, 168), ('Sam', 33, 175.5), ('Pam', 23, 180)], 
               dtype = [('name', 'U10'), ('age', int), ('height', float)])

In [4]:
info

array([('Anna', 19, 168. ), ('Sam', 33, 175.5), ('Pam', 23, 180. )],
      dtype=[('name', '<U10'), ('age', '<i4'), ('height', '<f8')])

In [5]:
print(info)

[('Anna', 19, 168. ) ('Sam', 33, 175.5) ('Pam', 23, 180. )]

In [6]:
info[0]

('Anna', 19, 168.)

In [7]:
info[0:2]

array([('Anna', 19, 168. ), ('Sam', 33, 175.5)],
      dtype=[('name', '<U10'), ('age', '<i4'), ('height', '<f8')])

In [11]:
pprint(info)

array([('Anna', 19, 168. ), ('Sam', 33, 175.5), ('Pam', 23, 180. )],
      dtype=[('name', '<U10'), ('age', '<i4'), ('height', '<f8')])

In [12]:
info['age']

array([19, 33, 23])

In [13]:
info[['age', 'height']]

array([(19, 168. ), (33, 175.5), (23, 180. )],
      dtype={'names':['age','height'], 'formats':['<i4','<f8'], 'offsets':[40,44], 'itemsize':52})

In [14]:
info['age'][0]

19