## Работа с БД из pandas

Если в вашей БД хранится небольшое количество данных, которое помещается в оперативную память, то к базам можно подключатьться с помощью pandas. Для этих целей идеально подойдёт функция [pandas.read_sql_query](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql_query.html)

Прочитаем данные из sqlite

In [1]:
import pandas as pd
import sqlite3

conn = sqlite3.connect("./data/example.db")
df = pd.read_sql_query("select * from jira_task limit 5;", conn)
df.head()

,code,theme,time_plan,time_fact
0,HYDRA-535,Пробрасывать пользовательское распределение pa...,echidna,1.0
1,HYDRA-534,Гибридный рекомендатель с multi-channel feedback,hydra,3.0
2,HYDRA-532,Джоба в дженкинсе для расчёта динамики РВП,hydramatrices,2.0
3,HYDRA-531,Интеграция Hydra с Gamora,hydramagrices,4.0
4,HYDRA-530,Тестируем интеграцию с Jira,hydra,2.0

Прочитаем данные из postgres

In [2]:
import psycopg2
import pandas as pd
import sqlite3

pg_connection = {
    "host": "dsstudents.skillbox.ru",
    "port": 5432,
    "dbname": "db_ds_students",
    "user": "readonly",
    "password": "6hajV34RTQfmxhS"
}
conn = psycopg2.connect(**pg_connection)

df = pd.read_sql_query("select * from public.ratings limit 5;", conn)
df.head()

   userid  movieid  rating   timestamp
0    7651      858     4.0  1473901038
1    7651     1036     4.0  1473900880
2    7651     1193     4.0  1473902526
3    7651     1196     3.0  1473900819
4    7651     1198     3.0  1473900822